snippet fp
fmt.Println($0)
endsnippet

snippet fpf
fmt.Printf("$0")
endsnippet

snippet fp:
fmt.Println("$1:", $1)
endsnippet

snippet fpt
fmt.Printf("%T\n", $0)
endsnippet

snippet fp=
fmt.Println("=====================================================")
endsnippet

snippet fpp
fmt.Println("=====================================================")
fmt.Println($0)
fmt.Println("=====================================================")
endsnippet
