! Colors

! color_bg = color0
! color_fg = color15
! color_accent = color5
! color_empty = color16

*background: #2d2d2d
*foreground: #f9f9f9

! Darks
*color0: #2d2d2d
*color8: #333333

! Reds 
*color1: #690a03
*color9: #d64937

! Greens
*color2: #13a43b
*color10: #6dfb2d

! Yellows
*color3: #f5a711
*color11: #ffdc00

! Blues
*color4: #0f6cc9
*color12: #32abd8

! Magentas
*color5: #93116b
*color13: #c61f93

! Cyanes
*color6: #3cb691
*color14: #53b4bd

! Whites
*color7: #d9d9d9
*color15: #f9f9f9

! Grey
*color16: #868686

! Terminal Settings
*faceName: DejaVu Sans Mono:style=Book:antialias=false
*faceSize: 12

Xft.dpi: 160
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt*loginShell: true

URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:Book:antialias=false:size=12
URxvt.letterSpace: -2

URxvt.perl-ext: default,selection-to-clipboard
URxvt.iso14755: False
URxvt.keysym.Control-V: perl:clipboard:paste
